{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: #1b1e21; text-align: center">Profilis</h1>
    <br><br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center">
        <table class="table">
            <tr>
                <th>Pavadinimas:</th>
                <td>{{ app.user.companyName  }}</td>
                <td></td>
            </tr>
            <tr>
                <th>El. paštas:</th>
                <td>{{ app.user.email  }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Telefono numeris:</th>
                <td>{{ app.user.phoneNumber }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Miestas:</th>
                <td>{{ app.user.city }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Adresas:</th>
                <td>{{ app.user.adress  }}</td>
                <td></td>
            </tr>
        </table>
        </div>
        <div class="col-2"></div>
    </div>
        <br/>
    <br/>

{% endblock %}