{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h3 style="color: #1b1e21; text-align: center">Kliento profilis</h3>
    <br><br>
    <table class="table">
        <tr>
            <th>Vardas:</th>
            <td>{{ app.user.firstNames  }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Pavardė:</th>
            <td>{{ app.user.lastName  }}</td>
            <td></td>
        </tr>
        <tr>
            <th>El. paštas:</th>
            <td>{{ app.user.email }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Telefono numeris:</th>
            <td>{{ app.user.phoneNumber }}</td>
            <td></td>
        </tr>
    </table>
        <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('profile_edit', {id: app.user.id}) }}'" >Redaguoti profilį</button>
        <br><br>
        <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('CarRegistration') }}'" >Pridėti mašiną</button>
        <br/>
        <br/>
        <br/>
        <b>Turimos mašinos:</b>
        <table class="table">
            <tr>
                <th scope="col">Mašinos numeris</th>
                <th scope="col">Markė</th>
                <th scope="col">Modelis</th>

            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
            {#{% if car.orders and car.orders.status == "Finished" %}#}
                <tr class="table-success">
                    <td>{{ car.carId }}</td>
                    <td>{{ car.maker}}</td>
                    <td>{{ car.model}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
{% endblock %}

