{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: #1b1e21; text-align: center">Profilis</h1>
    <br><br>
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: center">
    <table class="table">
        <tr>
            <th>Vardas:</th>
            <td>{{ app.user.firstname  }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Pavardė:</th>
            <td>{{ app.user.lastname  }}</td>
            <td></td>
        </tr>
        <tr>
            <th>El. paštas:</th>
            <td>{{ app.user.email }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Telefono numeris:</th>
            <td>{{ app.user.phoneNumber }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Pozicija:</th>
            <td>{{ app.user.position  }}</td>
            <td></td>
        </tr>
    </table>
    </div>
        <div class="col-2"></div>
    </div>
    </div>

{% endblock %}

