{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

    {% if (is_granted('ROLE_EMPLOYEE')) == true %}
        <div style="text-align:center;"><h1> Darbo detalės </h1> </div>
        <div style="height: 50px;"> </div>
        <div class="row">
            <div class="col-4">

                <table class="table">
                    <thead>
                    <div style="text-align: center;"><h5> Kliento informacija </h5> </div>

                    </thead>
                    <tbody>
                    <tr class="table-light">
                        <td> Vardas </td>
                        <td>{{order.car.user.firstnames}} {{order.car.user.lastname}} </td>
                    </tr>
                    <tr class="table-light">
                        <td> El. Paštas </td>
                        <td>{{order.car.user.email}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Telefono numeris </td>
                        <td>{{order.car.user.phoneNumber}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Rezervacijos laikas </td>
                        <td>{{order.startDate|date('Y-m-d h:m')}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="col-4">
                <table class="table">
                    <thead>
                    <div style="text-align: center;"><h5> Mašinos informacija </h5> </div>

                    </thead>
                    <tbody>
                    <tr class="table-light">
                        <td> Mašinos numeris </td>
                        <td>{{order.car.carId}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Markė </td>
                        <td>{{order.car.maker}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Modelis </td>
                        <td>{{order.car.model}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Metai </td>
                        <td>{{order.car.carYear}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Pavarų dėžė </td>
                        <td>{{order.car.transmission}}</td>
                    </tr>
                    <tr class="table-light">
                        <td> Variklio tūris </td>
                        <td>{{order.car.engineVolume}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-4">

                <table class="table">
                    <thead>
                    <div style="text-align: center;"><h5> Problema </h5> </div>

                    </thead>
                    <tbody>
                    <tr class="table-light">
                        <td> Kategorija </td>
                        <td>{{order.car.carId}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
        </div>
        <div style="height: 30px;"></div>
        {% if order.status == "Waiting" %}
            <div style="height: 50px;"></div>
        {% elseif order.status == "Accepted" and (is_granted('ROLE_EMPLOYEE')) == true %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2" style="text-align: center;">
                    <button type="button" class="btn btn-success" onclick="location.href = '{{ path('reservationAccept', {id: order.id}) }}'">Priimti</button>
                </div>
                <div class="col-2" style="text-align: center;">
                    <button type="button" class="btn btn-danger" onclick="location.href = '{{ path('reservationDeny', {id: order.id}) }}'" >Atmesti</button>
                </div>
                <div class="col-4"></div>
            </div>
            <div style="height: 50px;"></div>
        {% endif %}
    {% endif %}


    </div>
{% endblock %}