{% extends 'base.html.twig' %}

{% block body %}
    <table style="width: 70%">
        <tr>
            <th style="width:250px">Mašina</th>
            <th style="width:250px">Autoservisas</th>
            <th style="width: 250px">Priimta/Laukiama/Atmesta</th>
        </tr>
        <tr>
    {% if order is not null and car is not null %}

                {% for orders in order %}
<tr>
            <td>{{ orders.car.carId }}</td>
            <td>{{ orders.company.companyName }}</td>
            <td style="color: green">{{ orders.status }}</td>
                    {% if orders.status != "Approved" and orders.status != "Canceled" %}
            <td><button type="button" id="Service-car" onclick="location.href = '{{ path('DeclineReservation', {id: orders.id}) }}'" >Cancel</button>
                     </td> </tr>  {% endif %}
                {% endfor %}

        {% endif %}
        </tr>
        {#<tr>#}
            {#<td>Car1</td>#}
            {#<td>Autoservice1</td>#}
            {#<td style="color: yellow">Pending</td>#}
            {#<td><button class="btn"style="background-color: red"onclick="location.href = '{{ path('cancelreservation') }}'">Decline</button></td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Car1</td>#}
            {#<td>Autoservice1</td>#}
            {#<td id="Canceled" style="color: red">Canceled</td>#}
            {#<td><button class="btn"style="background-color: red;"onclick="location.href = '{{ path('cancelreservation') }}'">Decline</button></td>#}
        {#</tr>#}
    </table>
{% endblock %}