{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: center">
    <table class="table">
        <tr>
            <th>Mašina</th>
            <th>Autoservisas</th>
            <th>Atliktos paslaugos kaina</th>
            <th>Priimta/Laukiama/Atmesta</th>
            <th></th>
        </tr>
    {% if order is not null and car is not null %}

                {% for orders in order %}
<tr>
            <td>{{ orders.car.carId }}</td>
            <td>{{ orders.company.companyName }}</td>
                    <td>{{ orders.cost }}</td>
                    {% if orders.status == "Finished" %}
                        <td style="color: black">{{ orders.status }}</td>
                    {% else %}
                        <td style="color: red">{{ orders.status }}</td>
                        {% endif %}
                    {% if orders.status != "Approved" and orders.status != "Canceled" and orders.status != "Finished" %}
            <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('DeclineReservation', {id: orders.id}) }}'" >Atšaukti</button>
                     </td> </tr>  {% endif %}
                {% endfor %}

        {% endif %}
    </table>
    </div>
        <div class="col-2"></div>
    </div>
{% endblock %}