{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <div id="default">
        {{ form_start(form) }}
        {{ form_end(form) }}
        </div>


        <h1 style="color: #1b1e21; text-align: center"> Autoservisai, kurie gali sutvarkyti problemą </h1>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Įmonė</th>
                <th scope="col">Paštas</th>
                <th scope="col">Telefono numeris</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for company in companies %}
                <tr>
                    <td scope="row">{{i + 1}}</td>
                    <td>{{company.companyId.companyName}}</td>
                    <td>{{company.companyId.email}}</td>
                    <td>{{company.companyId.phoneNumber}}</td>
                    {% if car is not null %}
                    <td>
                        <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('RegisterCarService', {car_id: car.carId, company_id: company.companyId.id}) }}'"  >Užsakyti paslaugą</button></td>
                        {% endif %}
                    {% set i = i + 1 %}
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}