{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tr>
            <th scope="col">Mašinos numeris</th>
            <th scope="col">Markė</th>
            <th scope="col">Modelis</th>
            <th scope="col">Rezervacija</th>
            <th scope="col">Darbo atlikimo procentas</th>
            <th scope="col">Komentaras</th>
            <th scope="col">Statusas</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            {% if car.orders and car.orders.status == "Finished" %}
                <tr class="table-success">
                    <td>{{ car.carId }}</td>
                    <td>{{ car.maker}}</td>
                    <td>{{ car.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>


                    {% if car.orders.cost and car.orders.duration != null %}
                        <td>{{ car.orders.cost}}</td>
                        <td>{{ car.orders.duration}}</td>
                    {% endif %}
                    {% if car.orders %}
                        {% if car.orders.status == "Accepted" %}
                            <td style="color: green;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Waiting" %}
                            <td style="color: #ffbf00;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Dismissed" %}
                            <td style="color: red;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Finished" %}
                            <td style="color: green;">{{car.orders.status}}</td>
                        {% elseif car.orders.status == "Canceled" %}
                            <td style="color: green;">{{car.orders.status}}</td>
                        {% endif %}

                    {% else %}
                        <td>Nėra užsakymo</td>
                    {% endif %}
                    <td style="text-align: right">
                        {% if car.orders %}
                            {% if car.orders.status != "Dismissed" or car.order.status != "Canceled" %}
                                <button type="button" id="Service-car" disabled onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                            {% else %}
                                <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                            {% endif %}
                        {% else %}
                            <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                        {% endif %}

                        <button type="button" id="Delete-car" onclick="location.href = '{{ path('deleteCar', {id: car.carId}) }}'" >Trinti</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ car.carId }}</td>
                    <td>{{ car.maker}}</td>
                    <td>{{ car.model}}</td>
                    {% if car.orders %}
                        {% if car.orders.status == "Accepted" or car.orders.status == "Finished" %}
                            <td>{{ car.orders.startDate|date('Y-m-d h:m')}}</td>
                        {% else %}
                            <td>{{ car.orders.startDate|date('')}}</td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ car.orders.cost|default('N/A')}}</td>

                    <td>{{ car.orders.duration|default('N/A')}}</td>

                    {% if car.orders %}
                        {% if car.orders.status == "Accepted" %}
                            <td style="color: green;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Waiting" %}
                            <td style="color: #ffbf00;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Dismissed" %}
                            <td style="color: red;">{{  car.orders.status}}</td>
                        {% elseif car.orders.status == "Finished" %}
                            <td>{{  car.orders.status}}</td>
                        {% endif %}

                    {% else %}
                        <td>Nėra užsakymo</td>
                    {% endif %}

                    <td style="text-align: right">
                        {% if car.orders %}
                            {% if car.orders.status != "Dismissed" or car.order.status != "Canceled" %}
                                <button type="button" id="Service-car" disabled onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                                <button type="button" id="Delete-car" disabled onclick="location.href = '{{ path('deleteCar', {id: car.carId}) }}'" >Trinti</button>
                            {% else %}
                                <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                                <button type="button" id="Delete-car" onclick="location.href = '{{ path('deleteCar', {id: car.carId}) }}'" >Trinti</button>
                            {% endif %}
                        {% else %}
                            <button type="button" id="Service-car" onclick="location.href = '{{ path('carServices', {id: car.carId}) }}'" >Paslauga</button>
                            <button type="button" id="Delete-car" onclick="location.href = '{{ path('deleteCar', {id: car.carId}) }}'" >Trinti</button>
                        {% endif %}


                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}