{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tr>
            <th scope="col">Darbo pavadinimas</th>
            <th></th>
            <th scope="col">Mašina</th>
            <th></th>
            <th scope="col">Užtrukta laiko (val.)</th>
            <th></th>
            <th scope="col">Preliminari kaina (eur.)</th>
            <th></th>
            <th scope="col">Statusas</th>
            <th></th>

            <th scope="col"></th>
        </tr>

        {% for employees in employee %}

        {% if employees.status == "Approved" %}
            <tr>
                <td>{{ test.jobName }}</td>
                <td></td>
                <td>{{ employees.car.carId }}</td>
                <td></td>
                <td>{{ employees.duration }}</td>
                <td></td>
                <td>{{ employees.cost }}</td>
                <td></td>
                <td>{{ employees.status }}</td>
                <td></td>
                {% if employees.status != "Dismissed" %}
                <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('jobDetails', {id: employees.id}) }}'" >Detalės</button>
                    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('currentJobDetails', {id: employees.id}) }}'" >Informacija</button>
                 </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}