{% extends 'base.html.twig' %}

{% block body %}
    <table class="table" align="center">
        <thead class="thead-dark">
        <tr style="border-bottom: 3px solid #ddd;">
            <th scope="col">Darbo pavadinimas</th>
            <th></th>
            <th scope="col">Mašina</th>
            <th></th>
            <th scope="col">Aprašymas</th>
            <th></th>
            <th scope="col">Komentarai</th>
            <th></th>
            <th scope="col">Statusas</th>
            <th></th>
            <th scope="col">Daugiau_button</th>
        </tr>
        </thead>

        {% for employees in employee %}

        {% if employees.status == "Approved" %}
                <td>{{ employees.carJob.jobName }}</td>

                <td></td>
                <td>{{ employees.car.carId }}</td>
                <td></td>
                <td>{{ employees.duration }}</td>
                <td></td>
                <td>N/A</td>
                <td></td>
                <td>{{ employees.status }}</td>
                <td></td>
                <td>{{ employees.cost }}</td>
                {% if employees.status != "Dismissed" %}
                <td><button type="button" class="btn btn-success" onclick="location.href = '{{ path('jobDetails', {id: employees.id}) }}'" >Details</button>
                </td>
                    <td></td>
                <td><button type="button" class="btn btn-success" onclick="location.href = '{{ path('currentJobDetails', {id: employees.id}) }}'" >Info</button>
                 </td>
                {% endif %}
            {% endif %}
        {% endfor %}
        {#{% for employee in employees %}#}
            {#<tr>#}
                {#<td>{{ employee.firstname }}</td>#}
                {#<td></td>#}
                {#<td>{{employee.lastname}}</td>#}
                {#<td></td>#}
                {#<td>{{employee.email}}</td>#}
                {#<td></td>#}
                {#<td>{{employee.position}}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}