{% extends 'base.html.twig' %}

{% block body %}
    <table class="table" align="center">
        <tr>

            <th></th>
            <th scope="col">Mašina</th>
            <th></th>
            <th style="width: 250px">Priimta/Laukiama/Atmesta</th>
            <th></th>
            <th scope="col"></th>
        </tr>

        {% for employees in employee %}
            {% if employees.status != "Dismissed" and employees.status != "Approved" %}

        <tr>

            <td></td>
            <td>{{ employees.car.carId }}</td>
            <td></td>
            <td>{{ employees.status }}</td>
            <td></td>
            <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('pendingJobList', {id: employees.id}) }}'" >Detaliau</button>
            </td>
        </tr>
            {% endif %}
        {% endfor %}

        {#{% for employee in employees %}#}
        {#<tr>#}
        {#<td>{{ employee.firstname }}</td>#}
        {#<td></td>#}
        {#<td>{{employee.lastname}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.email}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.position}}</td>#}
        {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}