{% extends 'base.html.twig' %}

{% block body %}
    <button id="log_reg_employee"><a href="{{ path('registerEmployee') }}">Pridėti naują darbuotoją</a></button>

<h2>Darbuotojų sąrašas</h2>
<table align="center">
    <tr style="border-bottom: 3px solid #ddd;">
        <th width="120px">Vardas</th>
        <th></th>
        <th width="200px">Pavardė</th>
        <th></th>
        <th width="200px">Tel. numeris</th>
        <th></th>
        <th width="200px">El. paštas</th>
        <th></th>
        <th width="200px">Pozicija</th>
    </tr>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.firstname }}</td>
            <td></td>
            <td>{{employee.lastname}}</td>
            <td></td>
            <td>{{employee.phoneNumber}}</td>
            <td></td>
            <td>{{employee.email}}</td>
            <td></td>
            <td>{{employee.position}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}