{% extends 'base.html.twig' %}

{% block body %}
    <button class="btn btn-dark"><a href="{{ path('registerEmployee') }}" class="btn-dark">Pridėti naują darbuotoją</a></button>
    <br><br>
<h2 style="color: #1b1e21; text-align: center">Darbuotojų sąrašas</h2>
<table class="table">
    <tr>
        <th>Vardas</th>
        <th></th>
        <th>Pavardė</th>
        <th></th>
        <th>Tel. numeris</th>
        <th></th>
        <th>El. paštas</th>
        <th></th>
        <th>Pozicija</th>
    </tr>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.firstname }}</td>
            <td></td>
            <td>{{employee.lastname}}</td>
            <td></td>
            <td>{{employee.phoneNumber}}</td>
            <td></td>
            <td>{{employee.email}}</td>
            <td></td>
            <td>{{employee.position}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}