{% extends 'base.html.twig' %}

{% block body %}
    <button class="btn btn-dark"><a href="{{ path('addJobs') }}" class="btn-dark">Pridėti naują darbą</a></button>
    <br><br>
    <h2 style="color: #1b1e21; text-align: center">Atliekami darbai</h2>
    <table class="table">
        <tr>
            <th>Pavadinimas</th>
            <th></th>
            <th>Aprašymas</th>
            <th></th>
            <th>Kaina</th>
            <th></th>
            <th>Trukmė</th>
            <th></th>
        </tr>
        {% for job in jobs %}

            <tr>
                <td>{{ job.jobName }}</td>
                <td></td>
                <td>{{ job.description}}</td>
                <td></td>
                <td>{{ job.cost }}</td>
                <td></td>
                <td>{{ job.jobTime}}</td>
                <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('deleteJob', {id: job.id}) }}'" >Trinti</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}