{% extends 'base.html.twig' %}

{% block body %}

        <h2 style="color: #1b1e21; text-align: center">Klientų sąrašas</h2>
        <br><br>
        <table class="table">
            <tr>
                <th>#</th>
                <th></th>
                <th>Klientas</th>
                <th></th>
                <th>El. paštas</th>
                <th></th>
                <th>Telefono numeris</th>
                <th></th>
            </tr>
            {% set i = 0 %}
            {% for order in orders %}
                <tr>
                    {%  if order.status == "Waiting" %}
                        <td scope="row">{{i + 1}}</td>
                    <td></td>
                    <td>{{order.car.user.firstnames}} {{order.car.user.lastname}}</td>
                    <td></td>
                    <td>{{order.car.user.email}}</td>
                    <td></td>
                    <td>{{order.car.user.phoneNumber}}</td>
                    <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('orderDetails', {id: order.id}) }}'" >Detaliau</button></td>
                </tr>
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}
        </table>

    </div>

{% endblock %}