{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="color: #1b1e21; text-align: center">Vartotojų sąrašas</h2>
    <br><br>
    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('usersList')}}'">Atgal</button>
    <br><br>
    <div style="text-align: center">
    <table class="table">
        <tr>
            <th>#</th>
            <th></th>
            <th>Vardas</th>
            <th></th>
            <th>Pavardė</th>
            <th></th>
            <th>Telefono numeris</th>
            <th></th>
            <th>Elektroninis paštas</th>
            <th></th>
            <th></th>
            <tbody>
            {% set i = 0 %}
            {% for company in users %}
        <tr>
            <td scope="row">{{i + 1}}</td>
            {% if company is not null %}
                <td></td>
                <td>{{company.firstnames}}</td>
                <td></td>
                <td>{{ company.lastname }}</td>
                <td></td>
                <td>{{ company.phoneNumber }}</td>
                <td></td>
                <td>{{ company.email }}</td>
                <td></td>
                <td><button type="button" class="btn btn-dark" onclick="location.href = '{{ path('deleteUser', {id: company.id}) }}'" >Trinti</button>
                    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('banUser', {id: company.id}) }}'" >Blokuoti</button>
                </td>
            {% endif %}
            {% set i = i + 1 %}
        </tr>
        {% endfor %}
        </tbody>
        </tr>
    </table>
    </div>

{% endblock %}