{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="color: #1b1e21; text-align: center">Vartotojų sąrašas</h2>
    <br><br>
    <div style="text-align: center">
    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('showUsers') }}'" >Klientai</button>
    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('showCompanies') }}'" >Autoservisai</button>
    <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('showEmployees') }}'" >Darbuotojai</button>
    </div>
        {# <form id="s" method="post">
                <select name="size">
                    <option value="small">Suspend</option>
                    <option value="medium">Delete</option>
                </select>

            </form>#}


     {# {% for user in users %}
            <tr>
                <td>{{ employee.firstname }}</td>
                <td></td>
                <td>{{employee.lastname}}</td>
                <td></td>
                <td>{{employee.phoneNumber}}</td>
                <td></td>
                <td>{{employee.email}}</td>
                <td></td>
                <td>{{employee.position}}</td>
            </tr>
        {% endfor %}#}
    </table>

{% endblock %}