{% extends 'base.html.twig' %}

{% block body %}
    <h2 xmlns="http://www.w3.org/1999/html">Vartotojų sąrašas</h2>
    <button type="button" id="Delete-car" onclick="location.href = '{{ path('showUsers') }}'" >Users</button>
    <button type="button" id="Delete-car" onclick="location.href = '{{ path('showCompanies') }}'" >Companies</button>
    <button type="button" id="Delete-car" onclick="location.href = '{{ path('showEmployees') }}'" >Employees</button>
        {# <form id="s" method="post">
                <select name="size">
                    <option value="small">Suspend</option>
                    <option value="medium">Delete</option>
                </select>

            </form>#}


     {# {% for user in users %}
            <tr>
                <td>{{ employee.firstname }}</td>
                <td></td>
                <td>{{employee.lastname}}</td>
                <td></td>
                <td>{{employee.phoneNumber}}</td>
                <td></td>
                <td>{{employee.email}}</td>
                <td></td>
                <td>{{employee.position}}</td>
            </tr>
        {% endfor %}#}
    </table>

{% endblock %}