{% extends 'base.html.twig' %}

{% block body %}

    <h2 xmlns="http://www.w3.org/1999/html">Users List</h2>
    <table align="center">
        <tr style="border-bottom: 3px solid #ddd;">
            <th width="120px">ID</th>
            <th></th>
            <th width="120px">Firstname</th>
            <th></th>
            <th width="200px">LastName</th>
            <th></th>
            <th width="200px">Phone Number</th>
            <th></th>
            <th width="200px">Email</th>
            <th></th>
            <th>

                <button type="submit" name="/">Suspend</button>
            <th></th>
            <th>
                <button type="submit" name="/">Delete</button>
            <th></th>
                <form id="role" method="post">
                    <select name="size">
                        <option value="employee">Employers</option>
                        <option value="customer">Customers</option>
                        <option value="company">Companies</option>
                    </select>
                    <input type="submit" name="Submit" value="Send">
                </form>
            <th></th>
     {# <?php
if(isset($_POST['role'])) {
  echo "selected role: ".htmlspecialchars($_POST['role']);
}
?>#}
            </th>
        {# <form id="s" method="post">
                <select name="size">
                    <option value="small">Suspend</option>
                    <option value="medium">Delete</option>
                </select>

            </form>#}


     {# {% for user in users %}
            <tr>
                <td>{{ employee.firstname }}</td>
                <td></td>
                <td>{{employee.lastname}}</td>
                <td></td>
                <td>{{employee.phoneNumber}}</td>
                <td></td>
                <td>{{employee.email}}</td>
                <td></td>
                <td>{{employee.position}}</td>
            </tr>
        {% endfor %}#}
    </table>

{% endblock %}